@charset "utf-8";

/* Reset------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,select,header,nav,section,footer {
	margin: 0;
	padding: 0;
	color: #333;
	line-height: 1.6;
	word-wrap: break-word;
}
body {
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
address,em,i {
	font-style: normal;
}
strong,th,b {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
hr {
	display: none;
}
*/
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
img {
	border: 0;
}
li {
	list-style-type: none;
}
small{
	font-size: 100%;
	text-decoration: none;
	color: #645857;
}
iframe {
	border: 0;
}

a{
	text-decoration:none;
	color: inherit;
}

*, *:before, *:after{
	box-sizing: border-box; 
}	       

/*ここから----------------------------------------------------*/
p{
  font-family: 'Hina Mincho', serif;
  
}

#container01 {
  position: relative;
  background: url(image/header_flowe_01.jpg);
  background-size: cover; 

}

#container01 p{
  margin-left: 14%;
  font-size: 20px;
  color: #0054a7;
}

#top-nav{ 
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
 }

 #top-nav li {
  text-align: center;
  height: 50px;
  line-height: 20px;
  margin-right: 2px;
}
 
#top-nav li a {
  color: #fff;
  font-family: 'Hina Mincho', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  padding: 20px;
  text-shadow:  2px  2px 10px #0054a7 ,
               -2px  2px 10px #0054a7 ,
                2px -2px 10px #0054a7 ,
               -2px -2px 10px #0054a7;
}

 main{
   text-align: center;
   background: url(image/background-main.png);
   background-repeat: repeat; 
   
 }

 main img{
  border-radius: 10px;
}

 h1 img{
   margin-left: 10%;
   margin-top: 30px;
 }

 h2 {
   font-size: 40px;
   padding-top: 40px;
   padding-bottom: 30px;
   line-height: 45px;
   font-family: 'Hina Mincho', serif;
   font-family: 'Kaisei HarunoUmi', serif;
   
 }

 h3{
   font-size: 30px;
   
   font-family: 'Hina Mincho', serif;
 }

 h4{
   font-size: 20px;
 }

#shop01{
  width: 80%;
  margin:0 auto;
}

 .item01{
  align-self: center;
 }

 .product01{
   display: flex;
   justify-content: space-around;
   padding-top: 60px;
 }

 .product02{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 60px;
}

.product03{
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.line01 {
  height: 12px;
	background: linear-gradient(-70deg,transparent 35%,#aaabab 45%, #aaabab 55%,transparent 65%);
	background-size: 8px 12px;
	border: none;
  width: 55%;
  margin-left: 5%;
}

.line02 {
  height: 12px;
	background: linear-gradient(-70deg,transparent 35%,#aaabab 45%, #aaabab 55%,transparent 65%);
	background-size: 8px 12px;
	border: none;
  width: 55%;
  margin-right: 5%;
}

.address01{
  text-align: left;
	display: inline-block;
  padding-right: 3%;
  align-self: center;
  font-size: 20px;
}
.access01 {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

footer{
  background: url(image/background-footer.png);
  text-align: center;
}

#footer-nav{ 
  display: flex;
  justify-content: center;
 }

 #footer-nav li {
  text-align: center;
  height: 50px;
  line-height: 20px;
  margin-right: 2px;
  margin-top: 30px;
}
 
#footer-nav li a {
  color: #fff;
  font-family: 'Hina Mincho', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  padding: 20px;
}

footer img{
  width: 40%;
}

small{
  color:#fff;
}
/***追従するトップへ戻るボタン***/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: #fff;
  color: #737373;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}