@charset "utf-8";

/* Reset------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,select,header,nav,section,footer {
	margin: 0;
	padding: 0;
	color: #333;
	line-height: 1.6;
	word-wrap: break-word;
}
body {
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
address,em,i {
	font-style: normal;
}
strong,th,b {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
hr {
	display: none;
}
*/
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
img {
	border: 0;
}
li {
	list-style-type: none;
}
small{
	font-size: 100%;
	text-decoration: none;
	color: #645857;
}
iframe {
	border: 0;
}

a{
	text-decoration:none;
	color: inherit;
}


*, *:before, *:after{
	box-sizing: border-box; 
}	       

/*ここから----------------------------------------------------*/
p{
  font-family: 'Hina Mincho', serif;
  
}

#attention .logotype{
  text-align: center;
  font-size: 8px;
}

#attention a{
  color:#0054a7;
  text-decoration:underline;
}



@media (max-width: 909px){
  header img{
    width: 30%;
  }
}

@media (max-width: 519px){
  header img{
    width: 50%;
  }
}

#container01 {
  position: relative;
  background: url(image/header_flowe_01.jpg);
  background-size: cover; 
}
@media (max-width: 1109px){
  #container01::before {
    content: '';
    background-color: rgba(95 80 80 / 31%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

header ,nav ,header p{
  position: relative;

}

@media (max-width: 1109px){
  #container01{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}



#container01 p{
  margin-left: 14%;
  font-size: 15px;
  font-weight:bold;
  color: #0054a7;
  text-shadow:  2px  2px 3px #ffffff59 ,
               -2px  2px 3px #ffffff59 , 
                2px -2px 3px #ffffff59 ,
               -2px -2px 3px #ffffff59 ;
}

@media (max-width: 909px){
  #container01 p{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 519px){
  #container01 p{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
}


#top-nav{ 
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
 }

 @media (max-width: 909px){
  #top-nav{
    justify-content: center;
    margin-right: 0;

  }
 }

 @media (max-width: 519px){
  #top-nav{
    display: none;

  }
 }

 .overlay li{
   margin-top: 24px;
 }

 #top-nav li {
  text-align: center;
  height: 50px;
  line-height: 20px;
  margin-right: 2px;
}
 
#top-nav li a {
  color: #fff;
  font-family: 'Hina Mincho', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  padding: 20px;
  text-shadow:  2px  2px 5px #0054a7 ,
               -2px  2px 5px #0054a7 ,
                2px -2px 5px #0054a7 ,
               -2px -2px 5px #0054a7;
}



 main{
   text-align: center;
   background: url(image/background-main.png);
   background-repeat: repeat; 
   
 }

 main img{
  border-radius: 10px;
}

/*アコーディオンメニュー*/
@media (max-width: 519px){
  .ac-menu:last-child {
    margin-bottom: 0px; /* 最後の要素の下にだけ余白 */
  }
  .ac-menu input {
    display: none;
  }
  .ac-menu label {
    color: #616161;
    font-size: 25px; 
    line-height: 1.2; 
    text-align: center; 
    font-family: 'Hina Mincho', serif;
    font-family: 'Kaisei HarunoUmi', serif; 
    padding: 20px; /* 内側の余白 */
    cursor: pointer;
    position: relative;
    display: block;
  }
  .ac-menu label:after {
    position: absolute;
    right: 20px; /* 左からの距離 */
    top: 50%; /* 上下中央配置 */
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    content: "＋"; /* アイコン */
  }
  .ac-menu input:checked ~ label::after {
    content: "−"; /* クリック後のアイコン */
  }
  .ac-menu div {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s; /* 開閉スピード */
  }
  .ac-menu input:checked ~ div {
    height: auto;
    opacity: 1;
    padding: 20px; /* 中身の枠内の余白 */
  }
  .ac-menu-inside {
    color: #333; /* 中身の文字色 */
    font-size: 17px; /* 中身の文字サイズ */
    line-height: 2; /* 行間 */
  }

table{
    margin: 0 auto;
    padding-bottom: 10px;
    }
  
    #pc{
      display: none;
    }
  }

  @media (min-width: 520px){
    #ac{
      display: none;
    }
  }
/*--------------------------------------------*/
    

 h1 img{
   margin-left: 10%;
   margin-top: 30px;
 }

 @media (max-width: 909px){
  h1 {
    text-align: center;
  }
}
@media (max-width: 909px){
  h1 img{
    margin-left: 0;
    margin-bottom: 20px;
  }
}

 h2 {
   font-size: 40px;
   padding-top: 40px;
   padding-bottom: 30px;
   line-height: 45px;
   font-family: 'Hina Mincho', serif;
   font-family: 'Kaisei HarunoUmi', serif; 
   color: #616161;
 }

 @media (max-width: 519px){
  h2{
    font-size: 30px;
  }
}

 h3{
   font-size: 30px;
   font-family: 'Hina Mincho', serif;
 }

 @media (max-width: 519px){
  h3{
    font-size: 25px;
    line-height:35px;
    padding-bottom: 15px;
  }
}

 h4{
   font-size: 20px;
 }
 
 @media (max-width: 789px){
   h4{
    padding-bottom: 15px;
  }
}


 @media (max-width: 519px){
  h4{
    font-size: 15px;
  }
} 

 @media (max-width: 900px){
  .br::before {
    content: "\A" ;
    white-space: pre ;
  }
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
 opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  	max-height: 80vh;
  	overflow-y: auto;
}

.modal-overlay {
  	z-index: 10;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  	z-index: 20;
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 35px;
  	color: #95979c!important;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 35px;
  	text-align: center;
  	text-decoration: none;
  	text-indent: 0
}

.modal-wrapper .modal-close:hover {
  	color: #2b2e38!important;
}



#shop01{
  width: 80%;
  margin:0 auto;
}
@media (max-width: 1109px){
#shop01 {
  width: 90%;
  margin: 0 auto;
}
}

@media (max-width: 1109px){
  #shop01 img{
    width: 60%;
  }
}
@media (max-width: 789px){
  #shop01 img{
      width: 80%;
      margin-bottom: 25px;
  }
}

@media (max-width: 789px){
  #shop01 p{
      padding-bottom: 25px;
  }
}

 .item01{
  align-self: center;
 }


 .product01{
   display: flex;
   justify-content: space-around;
   padding-top: 60px;
 }
 @media (max-width: 789px){
  .product01{
    display: block;
    padding-top: 30px;
  }
 }

 .product02{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 60px;
}

@media (max-width: 789px){
  .product02{
    display: block;
    padding-top: 30px;
  }
 }

.product03{
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

@media (max-width: 789px){
  .product03{
    display: block;
    padding-top: 30px;
  }
 }

.line01 {
  height: 12px;
	background: linear-gradient(-70deg,transparent 35%,#aaabab 45%, #aaabab 55%,transparent 65%);
	background-size: 8px 12px;
	border: none;
  width: 55%;
  margin-left: 5%;
}
@media (max-width: 1109px){
  .line01{
    width: 60%;
  }
 }




@media (max-width: 789px){
  .line01{
    display: none;
  }
 }

.line02 {
  height: 12px;
	background: linear-gradient(-70deg,transparent 35%,#aaabab 45%, #aaabab 55%,transparent 65%);
	background-size: 8px 12px;
	border: none;
  width: 55%;
  margin-right: 5%;
}

@media (max-width: 1109px){
  .line02{
    width: 60%;
  }
 }

@media (max-width: 789px){
  .line02{
    display: none;
  }
 }

.address01{
  text-align: left;
	display: inline-block;
  padding-right: 3%;
  align-self: center;
  font-size: 20px;
  font-family: 'Hina Mincho', serif;
  
}


 @media (max-width: 519px){
  h2#map{
    padding-bottom: 0;
  }
 }



.access01 {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

@media (max-width: 789px){
  .access01{
    display: block;
  }
 }

 @media (max-width: 519px){
  th,td {
    font-size: 15px;
    padding:3px 10px;
    font-family: 'Hina Mincho', serif;
  }
 }

 @media (max-width: 1109px){
  iframe{
    width: 40%;
  }
 }

 @media (max-width: 789px){
  iframe{
    width: 65%;
  }
 }

 th,td {
  padding:5px 10px;
 }

 table tr:nth-child(3) th:nth-child(1) {
	color: #96001c;
}

span.marker {
  background: linear-gradient(transparent 60%,  #ffa500 0 0%);
  }

  

 @media (min-width: 751px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color:black;
    }
  }
  
  @media (max-width: 750px) {
    a[href*="tel:"] {
      text-decoration: underline;
      color:blue;
      }
    }
    
  
 

footer{
  background: url(image/background-footer.png);
  text-align: center;
}

#footer-nav{ 
  display: flex;
  justify-content: center;
 }

 #footer-nav li {
  text-align: center;
  height: 50px;
  line-height: 20px;
  margin-right: 2px;
  margin-top: 30px;
}
 
#footer-nav li a {
  color: #fff;
  font-family: 'Hina Mincho', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  padding: 20px;
}

footer img{
  width: 40%;
}

@media (max-width: 909px){
  footer img{
    width: 60%;
    padding-bottom: 40px;
  }
 }

@media (max-width: 519px){
  footer img{
    width: 70%;
  }
 }

small{
  color:#fff;
}


/*追従するトップへ戻るボタン*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: #fff;
  color: #737373;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}
#page-top img{
  width: 50%;
  line-height: 1.2rem;
}

@media (max-width: 519px){
  #page-top{
    bottom: 10px;
  }
 }

 /*ハンバーガーメニュー*/
 .sp-menu{
  text-align: center;
}

.sp-menu #open{
  font-size: 32px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;/*下の要素を選択できるようになる*/
  transition: opacity .6s;
}



.overlay.show {
  opacity: 1;
  pointer-events: auto;/*規定値に戻す→Xが選択できるようになる*/
}

.overlay #close{
  position: relative;
  top: 16px;
  cursor: pointer;
}


 @media (min-width: 520px){
  .sp-menu{
    display: none;
  }
}